/dest/*.css
/dest/*.gif
/dest/*.jpg
/dest/*.png
/dest/*.wasm
/dest/.htaccess
/dest/cards.css.map
/dest/dondorf
/dest/green.webp
/dest/index-dev.html
/dest/index-dev.xhtml
/dest/index.html
/dest/js/*.js
/dest/js/*.wasm
/dest/js/libfcs-wrap.d.ts
/dest/js/libfreecell-solver-asm.js.mem
/dest/js/libfreecell-solver.js.mem
/dest/js/yui-unpack
/dest/jstorage.min.js
/dest/layouts
/dest/libfreecell-solver.js.mem
/green.webp
/node_modules/
/src/js/fcs-validate.js
/src/js/french-cards.js
/src/js/prange.js
/src/js/web-fc-solve--expand-moves.js
/src/js/web-fc-solve.js
