/dest/*.css
/dest/*.gif
/dest/*.jpg
/dest/*.png
/dest/*.wasm
/dest/.htaccess
/dest/dondorf
/dest/index-dev.html
/dest/index.html
/dest/js/*.js
/dest/js/*.wasm
/dest/js/libfreecell-solver-asm.js.mem
/dest/js/libfreecell-solver.js.mem
/dest/js/yui-unpack
/dest/layouts
/dest/libfreecell-solver.js.mem
/node_modules/
/src/js/big-integer.js
/src/js/fcs-validate.js
/src/js/web-fc-solve--expand-moves.js
/src/js/web-fc-solve.js
