<!doctype html>
<% if development %>
<html>
<% else %>
<html manifest="cache.manifest">
  <!--
  Hi! There's no useful source code on this page :(
  BUT!! There is at index-dev.html and Solitairey's GitHub page https://github.com/pharrington/Solitairey :)
  happy hacking
  -->

<% end %>
<head>
	<title>Solitairey - Beautiful HTML5 Solitaire</title>
    <meta charset="utf-8">
	<meta name="description" content="A modern solitaire collection for the web. Built with HTML5 and Javascript.">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<meta name="apple-mobile-web-app-capable" content="yes">
        <meta property="fb:admins" content="100000659492810">
	<link rel="stylesheet" href="cards.css">
	<![if lt IE 9]>
	<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css">
	<![endif]>
<% if development %>
	<script type="text/javascript" src="js/joose.mini.js"></script>
	<script type="text/javascript" src="js/require--debug.js"></script>
	<script type="text/javascript" src="js/ms-rand.js"></script>
	<script type="text/javascript" src="js/yui-debug.js"></script>
<% if true %>
	<script type="text/javascript" src="js/yui-breakout.js"></script>
<% end %>
	<script type="text/javascript" src="js/solitaire.js"></script>
	<script type="text/javascript" src="js/iphone.js"></script>
	<script type="text/javascript" src="js/auto-stack-clear.js"></script>
	<script type="text/javascript" src="js/auto-turnover.js"></script>
	<script type="text/javascript" src="js/autoplay.js"></script>
	<script type="text/javascript" src="js/ie-opera-background-fix.js"></script>
	<script type="text/javascript" src="js/statistics.js"></script>
<% if false %>
	<script type="text/javascript" src="js/agnes.js"></script>
	<script type="text/javascript" src="js/golf.js"></script>
	<script type="text/javascript" src="js/klondike.js"></script>
	<script type="text/javascript" src="js/klondike1t.js"></script>
	<script type="text/javascript" src="js/flowergarden.js"></script>
	<script type="text/javascript" src="js/fortythieves.js"></script>
	<script type="text/javascript" src="js/grandclock.js"></script>
	<script type="text/javascript" src="js/montecarlo.js"></script>
	<script type="text/javascript" src="js/pyramid.js"></script>
	<script type="text/javascript" src="js/russian-solitaire.js"></script>
	<script type="text/javascript" src="js/scorpion.js"></script>
	<script type="text/javascript" src="js/spider.js"></script>
	<script type="text/javascript" src="js/spider1s.js"></script>
	<script type="text/javascript" src="js/spider2s.js"></script>
	<script type="text/javascript" src="js/spiderette.js"></script>
	<script type="text/javascript" src="js/tritowers.js"></script>
	<script type="text/javascript" src="js/will-o-the-wisp.js"></script>
	<script type="text/javascript" src="js/yukon.js"></script>
<% end %>
	<script type="text/javascript" src="js/freecell.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
<% else %>
	<script type="text/javascript" src="js/combined-min.js"></script>
<% end %>
	<script type="text/javascript" src="js/libfreecell-solver.min.js"></script>
	<script type="text/javascript" src="js/web-fc-solve--expand-moves.js"></script>
	<script type="text/javascript" src="js/web-fc-solve.js"></script>
	<script type="text/javascript" src="js/solver-freecell.js"></script>
</head>
<body>
<% unless development %>
<div id=social>
	<span class='st_sharethis_button' displayText='ShareThis' st_title='Solitairey - A Beautiful HTML5 Solitaire collection'></span>
</div>
<% end %>
<% if false %>
	<ul id="menu">
		<li class="begin">
			<a id="new_deal">Deal New Cards</a>
		</li>
		<li>
			<a id="restart">Restart Game</a>
		</li>
		<li>
			<a id="choose_game">Choose Solitaire Game...</a>
		</li>
                <li class="end">
			<a id="undo">Undo</a>
		</li>
    </ul>
<% end %>
	<div id="game-chooser">
                <button id=close-chooser>Return to game</button>
	</div>
	<img src=loading.gif class="loading hidden">
<script type="text/javascript">
requirejs.config({
    baseUrl: './js',
    });
</script>

</body>
</html>
