<!doctype html>
<% if development %>
<html lang="en">
<% else %>
<html lang="en" manifest="cache.manifest">
  <!--
  Hi! There's no useful source code on this page :(
  BUT!! There is at index-dev.html and Solitairey's GitHub page https://github.com/pharrington/Solitairey :)
  happy hacking
  -->

<% end %>
<head>
	<title>Solitairey - Beautiful HTML5 Solitaire</title>
    <meta charset="utf-8">
	<meta name="description" content="A modern solitaire collection for the web. Built with HTML5 and Javascript.">
	<meta name="apple-mobile-web-app-capable" content="yes">
        <meta property="fb:admins" content="100000659492810">
	<link rel="stylesheet" href="cards.css">
<% if development %>
	<script src="js/require--debug.js"></script>
	<script src="js/yui-debug.js"></script>
<script>
    console.log('bef requirejs');
requirejs.config({
    baseUrl: './js',
    });
const solver = require(['./solver-freecell']);
</script>
<% if true %>
	<script src="js/yui-breakout.js"></script>
<% end %>
	<script>
        require(['./solitaire', './iphone', './auto-stack-clear', './auto-turnover', './statistics', './autoplay', './application', './freecell'],
                function (solitaire, iphone, auto_stack, auto_turn, statistics, autoplay, application, freecell) {
        });
    </script>
<% if false %>
	<script src="js/ie-opera-background-fix.js"></script>
	<script src="js/agnes.js"></script>
	<script src="js/golf.js"></script>
	<script src="js/klondike.js"></script>
	<script src="js/klondike1t.js"></script>
	<script src="js/flowergarden.js"></script>
	<script src="js/fortythieves.js"></script>
	<script src="js/grandclock.js"></script>
	<script src="js/montecarlo.js"></script>
	<script src="js/pyramid.js"></script>
	<script src="js/russian-solitaire.js"></script>
	<script src="js/scorpion.js"></script>
	<script src="js/spider.js"></script>
	<script src="js/spider1s.js"></script>
	<script src="js/spider2s.js"></script>
	<script src="js/spiderette.js"></script>
	<script src="js/tritowers.js"></script>
	<script src="js/will-o-the-wisp.js"></script>
	<script src="js/yukon.js"></script>
<% end %>
<% else %>
	<script src="js/combined-min.js"></script>
<% end %>
<% if false %>
	<script src="js/libfreecell-solver.min.js"></script>
	<script src="js/web-fc-solve--expand-moves.js"></script>
	<script src="js/web-fc-solve.js"></script>
	<script src="js/solver-freecell.js"></script>
<% end %>
</head>
<body>
<% unless development %>
<div id=social>
	<span class='st_sharethis_button' displayText='ShareThis' st_title='Solitairey - A Beautiful HTML5 Solitaire collection'></span>
</div>
<% end %>
<% if false %>
	<ul id="menu">
		<li class="begin">
			<a id="new_deal">Deal New Cards</a>
		</li>
		<li>
			<a id="restart">Restart Game</a>
		</li>
		<li>
			<a id="choose_game">Choose Solitaire Game...</a>
		</li>
                <li class="end">
			<a id="undo">Undo</a>
		</li>
    </ul>
<% end %>
	<div id="game-chooser">
        <button id="close-chooser">Return to game</button>
	</div>
	<img src="loading.gif" class="loading hidden" alt="Loading">
	<div class="chromestore hidden">
		<a class="hide">[Hide]</a>
        <a href="https://chrome.google.com/webstore/detail/dofbnmhnoodmmlhflbcihicmbnhhinhp">
            <img alt="Chrome Web Store" src="ChromeWebStore_Badge_v2_206x58.png">
        </a>
	</div>

</body>
</html>
